nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: #024192;
  position: relative;
  padding: 0px 50px;
  z-index: 3;
  box-shadow: 0px 0px 10px 0px rgba(2, 65, 146, 0.4);
  overflow: hidden;
}

.logo {
  display: flex;
  text-transform: uppercase;
  align-items: flex-start;
}

.logo:hover {
  cursor: pointer;
}

.logo .random {
  font-size: 20px;
  line-height: 1;
}

.logo .blog {
  font-size: 40px;
  line-height: 0.9;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 18px;
}

.navigation li {
  list-style: none;
  border: 1px solid transparent;
  margin: 0 15px;
}

.navigation li a {
  text-decoration: none;
  color: #024192;
  padding: 0 5px;
}

.navigation li:hover {
  cursor: pointer;
}

.navigation li:hover a {
  color: crimson;
}

.navigation li button {
  background-color: #024192;
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
}

.navigation li button a {
  color: white;
}

.navigation li button:hover {
  cursor: pointer;
  border: 2px solid crimson;
  color: crimson;
  background-color: white;
}

.ham-menu {
  position: relative;
  display: none;
  height: 20px;
  width: 30px;
  overflow: hidden;
}

.ham-menu:hover {
  cursor: pointer;
}

.dash {
  position: absolute;
  width: 30px;
  left: 0;
  height: 3px;
  background-color: #024192;
  border-radius: 20px;
  transform-origin: left;
}

.dash:nth-child(1) {
  transition: all 1s ease;
  top: 0px;
}

.dash:nth-child(2) {
  top: 8px;
  transition: all 1s ease;
}

.dash:nth-child(3) {
  transition: all 1s ease;
  bottom: 0px;
}

.mobile-nav {
  display: none;
}

footer {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #024192;
  color: white;
}

footer p {
  font-size: 17px;
}

.section-start {
  border: 1.5px solid crimson;
  margin-bottom: 20px;
  width: 100%;
}

.newsletter {
  display: flex;
  flex-direction: column;
  padding: 20px 3vw;
  width: 95%;
}

.newsletter h2 {
  color: #024192;
}

.newsletter form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 15vw;
  border-radius: 10px;
  background-color: #e8eef7;
}

.newsletter form p {
  text-align: center;
  margin-bottom: 15px;
}

.newsletter form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 15px;
}

.newsletter form div input {
  padding: 8px 10px;
  font-size: 17px;
  border: 1px solid #024192;
  margin-top: 2px;
  border-radius: 3px;
}

.form-submit {
  background-color: #024192;
  color: white;
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0;
}

.form-submit:hover {
  cursor: pointer;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 6vw;
}

.about h2 {
  color: #024192;
  width: 100%;
}

.about p {
  width: 50vw;
  text-align: center;
  margin: 20px 0;
}

.about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: crimson;
  border: 1px solid #024192;
}

.about button {
  background-color: #024192;
  color: white;
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
}

.about button:hover {
  cursor: pointer;
}

.contact {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 4;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 0;
  transition: all 1s ease;
  overflow-y: scroll;
}

.contact .content {
  height: max-content;
  width: 70vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 40px 5vw;
  position: relative;
}

.contact .content h2 {
  color: #024192;
}

.contact .content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: crimson;
  font-size: 50px;
  line-height: 0.5;
  overflow: hidden;
}

.contact .content .close:hover {
  cursor: pointer;
}

.contact .content form {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 2vw;
  width: 50vw;
  font-size: 15px;
  box-shadow: 0px 0px 10px 0px rgba(2, 65, 146, 0.4);
}

.contact .content form p {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.contact .content form .name_email {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.contact .content form .name_email div {
  display: flex;
  flex-direction: column;
  width: 200%;
  gap: 10px;
}

.contact .content form .name_email div input {
  padding: 10px;
  border: 1px solid #024192;
  border-radius: 3px;
  width: 100%;
}

.contact .content form .message {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.contact .content form .message textarea {
  padding: 5px 5px;
  border: 1px solid #024192;
  border-radius: 3px;
}

.contact .content form .message textarea::placeholder {
  text-align: center;
}

.contact .content form input[type="submit"] {
  background-color: #024192;
  border: 2px solid transparent;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  width: 100%;
}

.contact .content form input[type="submit"]:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  nav {
    padding: 0 20px;
  }
  .logo .random {
    font-size: 15px;
  }
  .logo .blog {
    font-size: 30px;
  }
  .navigation {
    font-size: 15px;
  }
  .navigation li {
    margin: 0 10px;
  }
  .navigation li button {
    padding: 7px 10px;
  }
  .contact .content {
    width: 80vw;
  }
  .contact .content form {
    width: 60vw;
  }
  .about img {
    width: 70px;
    height: 70px;
  }
  .about p {
    width: 70vw;
  }
}

@media (max-width: 550px) {
  nav {
    padding: 10px 20px;
  }
  .ham-menu {
    display: block;
    transition: all 1s ease;
  }
  .navigation {
    display: none;
  }
  footer {
    height: 30px;
  }
  footer p {
    font-size: 13px;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -100px;
    margin-bottom: -100px;
    z-index: 2;
    width: 100%;
    padding: 25px 0;
    border-bottom: 1px solid crimson;
    background-color: #e8eef7;
    transition: all 0.5s ease-out;
  }
  .mobile-nav a {
    margin: 5px 0;
    text-decoration: none;
    color: #024192;
    text-align: center;
  }
  .mobile-nav a:last-child {
    background-color: #024192;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 95%;
  }
  .newsletter h2 {
    width: 100%;
    color: #024192;
  }
  .newsletter form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #e8eef7;
  }
  .newsletter form p {
    text-align: center;
    margin-bottom: 15px;
  }
  .newsletter form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .newsletter form div input {
    padding: 8px 10px;
    font-size: 17px;
    border: 1px solid #024192;
    margin-top: 2px;
    border-radius: 3px;
  }
  .form-submit {
    background-color: #024192;
    color: white;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0;
  }
  .form-submit:hover {
    cursor: pointer;
  }
  .contact .content form {
    font-size: 13px;
  }
  .contact .content form .name_email {
    flex-direction: column;
  }
  .contact .content form .name_email div {
    width: 100%;
  }
}

@media (max-height: 600px) {
  .contact {
    align-items: flex-start;
  }
  .contact .content {
    height: 100vh;
  }
}
/*# sourceMappingURL=main.css.map */