* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: black;
  font-family: 'Nunito', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 5vw;
}

.posts .posts-header {
  width: 100%;
  font-size: 20px;
  text-align: left;
  color: #024192;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  margin: 0 2vw;
  padding: 50px 10px;
  border-radius: 10px;
}

.post:hover {
  cursor: pointer;
  background-color: #e8eef7;
  border-radius: 10px;
}

.post article {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-header h2 {
  font-size: 20px;
  color: #024192;
  width: 60%;
}

.post-header .date_author {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  align-items: flex-end;
  color: #024192;
  text-align: end;
}

.post-content {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 10px 0 5px;
  font-size: 15px;
  width: 100%;
  height: 190px;
}

.post-content img {
  width: 320px;
  height: 100%;
  border-radius: .5em;
}

.post-content .post-text {
  margin-left: 20px;
  line-height: 1.4;
}

.post-divider {
  border: 1px solid crimson;
  margin: 5px 0;
  width: 50vw;
}

.paging {
  margin: 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paging button:nth-child(1) {
  color: crimson;
  background-color: white;
  border-color: crimson;
}

.paging button {
  width: 30px;
  height: 30px;
  background-color: #024192;
  color: white;
  text-align: center;
  border: none;
  margin: 0 1px;
  border: 1px solid transparent;
}

.paging button:hover {
  background-color: #e8eef7;
  color: crimson;
  cursor: pointer;
  border-color: crimson;
}

.social {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 0;
  top: calc((100vh - 150px)/ 2);
  left: calc((7vw - 50px)/ 2);
}

.social button {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid #024192;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social button img {
  width: 20px;
  height: 20px;
}

.social button:hover {
  cursor: pointer;
  border-color: crimson;
}

@media (max-width: 800px) {
  .posts .posts-header {
    font-size: 17px;
  }
  .post {
    padding: 20px 10px;
  }
  .post-header h2 {
    font-size: 18px;
  }
  .post-header .date_author {
    font-size: 14px;
  }
  .post-content {
    height: 135px;
  }
  .post-content img {
    width: 240px;
  }
  .post-content .post-text {
    font-size: 13px;
    line-height: 1.5;
  }
  .social {
    top: calc((100vh - 105px)/ 2);
    left: calc((7vw - 40px)/ 2);
  }
  .social button {
    margin: 2.5px 5px;
    width: 30px;
    height: 30px;
  }
  .social button img {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 550px) {
  main {
    position: relative;
  }
  .posts {
    margin: 20px 2vw;
  }
  .post {
    background-color: #e8eef7;
  }
  .post-header {
    flex-direction: column;
    justify-content: center;
  }
  .post-header h2 {
    font-size: 15px;
    text-align: center;
    width: 100%;
  }
  .post-header .date_author {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
    padding: 0 10px;
  }
  .post-header .date_author .author {
    width: 50%;
    text-align: start;
  }
  .post-header .date_author .date {
    width: 50%;
  }
  .post-content {
    flex-direction: column;
    height: auto;
  }
  .post-content img {
    width: 100%;
  }
  .post-content .post-text {
    margin: 5px 0;
    height: 105px;
    text-align: center;
  }
  .social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
  }
  .social button {
    height: 40px;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border: 1px solid #024192;
    background-color: white;
  }
  .social button img {
    width: 20px;
    height: 20px;
  }
  .social button:hover {
    cursor: pointer;
    border-color: crimson;
  }
}
/*# sourceMappingURL=styles.css.map */