@import './presets';


// Navigation Bar styles
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: $primary-color;
    position: relative;
    padding: 0px 50px;
    z-index: 3;
    box-shadow: 0px 0px 10px 0px rgba($color: $primary-color, $alpha: 0.4);
    overflow: hidden;
}

// blog logo

.logo {
    display: flex;
    text-transform: uppercase;
    align-items: flex-start;
    // margin-top: 15px;

    &:hover {
        cursor: pointer;
    }
    
    .random {
        font-size: 20px;
        line-height: 1;
    }

    .blog {
        font-size: 40px;
        line-height: 0.9;
    }
}

// desktop and tablet navigation

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 18px;



    li {
        list-style: none;
        border: 1px solid transparent;
        margin: 0 15px;
        


        a {
            text-decoration: none;
            color: $primary-color;
            padding: 0 5px;
            // margin: 0 15px;
        }

        &:hover {
            cursor: pointer;

            a {
                color: $tertiary-color;
            }
        }


        button {
            background-color: $primary-color;
            border: 2px solid transparent;
            padding: 10px 20px;
            border-radius: 3px;
            font-size: 15px;
            font-weight: 600;

            a {
                color: white;
            }


            &:hover {
                cursor: pointer;
                border: 2px solid $tertiary-color;
                color: $tertiary-color;
                background-color: white;
            }
        }
    }
}


// hamburger menu

.ham-menu {
    position: relative;
    display: none;
    height: 20px;
    width: 30px;
    // margin: 10px 0;
    // transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

}

.dash {
    position: absolute;
    width: 30px;
    left: 0;
    height: 3px;
    background-color: $primary-color;
    border-radius: 20px;
    // position: absolute;
    transform-origin: left;
}

.dash:nth-child(1) {
    transition: all .5s ease;
    top: 0px;
}

.dash:nth-child(2) {
    top: 8px;
    transition: all .5s ease;
}

.dash:nth-child(3) {
    transition: all .5s ease;
    bottom: 0px;
}

// mobile navigation
.mobile-nav {
    display: none;
}

// footer
footer {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    color: white;

    p {
        font-size: 17px;
    }
}

// red horizontal rule

.section-start {
    border: 1.5px solid $tertiary-color;
    background-color: $tertiary-color;
    margin-bottom: 20px;
    width: 100%;
}

// newsletter styles

.newsletter {
    display: flex;
    flex-direction: column;
    padding: 20px 3vw;
    width: 95%;

    h2 {
        color: $primary-color;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px 15vw;
        border-radius: 10px;
        background-color: $secondary-color;

        p {
            text-align: center;
            margin-bottom: 15px;
        }

        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            font-size: 15px;

            input {
                padding: 8px 10px;
                font-size: 17px;
                border: 1px solid $primary-color;
                margin-top: 2px;
                border-radius: 3px;
            }

        }
    }
}

.form-submit {
    background-color: $primary-color;
    color: white;
    border: 2px solid transparent;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
    margin: 5px 0;

    &:hover {
        cursor: pointer;
    }
}

// about styles

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 6vw;
    h2  {
        color: $primary-color;
        width: 100%;
    }

    p {
        width: 50vw;
        text-align: center;
        margin: 20px 0;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $tertiary-color;
        border: 1px solid $primary-color;
    }

    button {
        background-color: $primary-color;
        color: white;
        border: 2px solid transparent;
        padding: 10px 20px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 600;


        &:hover {
            cursor: pointer;
        }
    }
}

// contact styles
.contact {
    position: absolute;
    height: 0;
    width: 100%;
    z-index: 4;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 1s ease;


    .content {
        height: max-content;
        width: 70vw;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        // align-items: center;
        padding: 40px 5vw;
        position: relative;

        h2 {
            color: $primary-color;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            color: $tertiary-color;
            font-size: 50px;
            line-height: 0.5;
            overflow: hidden;

            &:hover {
                cursor: pointer;
            }
        }

        form {
            display: flex;
            margin: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px 2vw;
            width: 50vw;
            font-size: 15px;
            box-shadow: 0px 0px 10px 0px rgba($color: $primary-color, $alpha: 0.4);


            p {
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
            }

            .name_email {
                display: flex;
                justify-content: space-between;
                width: 100%;
                gap: 10px;

                div {
                    display: flex;
                    flex-direction: column;
                    width: 200%;
                    gap: 10px;

                    input {
                        padding: 10px;
                        border: 1px solid $primary-color;
                        border-radius: 3px;
                        width: 100%;
                    }
                }
            }

            .message {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 10px 0;

                textarea {
                    padding: 5px 5px;
                    // height: 50px;
                    border: 1px solid $primary-color;
                    border-radius: 3px;



                    &::placeholder {
                        text-align: center;
                    }
                }
            }
            input[type="submit"] {
                background-color: $primary-color;
                border: 2px solid transparent;
                padding: 10px 20px;
                border-radius: 3px;
                font-size: 15px;
                font-weight: 600;
                color: white;
                width: 100%;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

// Small Laptops and Tablet

@media (max-width: 800px) {

    nav {
        padding: 0 20px;
    }

    .logo {

        .random {
            font-size: 15px;
        }

        .blog {
            font-size: 30px;
        }
    }

    .navigation {
        font-size: 15px;

        li {
            margin: 0 10px;


            button {
                padding: 7px 10px;                
            }
        }
    }

    .contact {

        .content {
            width: 80vw;

            form {
                width: 100%;
            }
        }
    }

    .about {

        img {
            width: 70px;
            height: 70px;
        }

        p {
            width: 70vw;
        }
    }
}

// Mobile phones

@media (max-width: 550px) {

    nav {
        padding: 10px 20px;
    }
    .ham-menu {
        display: block;
        transition: all 1s ease;
    }

    .navigation {
        display: none;
    }

    

    footer {
        height: 30px;

        p {
            font-size: 13px;
        }
    }

    .mobile-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: -110px;
        margin-bottom: -110px;
        z-index: 2;
        width: 100%;
        padding: 25px 0;
        border-bottom: 1px solid $tertiary-color;
        background-color: $secondary-color;
        transition: all 0.5s ease-out;
    
        a {
            margin: 5px 0;
            text-decoration: none;
            color: $primary-color;
            text-align: center;
        }
    
        a:last-child {
            background-color: $primary-color;
            color: white;
            padding: 10px 20px;
            border-radius: 3px;
            font-size: 15px;
            font-weight: 600;
        }
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        width: 95%;

        h2 {
            width: 100%;
            color: $primary-color;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 10px;
            border-radius: 10px;
            background-color: $secondary-color;

            p {
                text-align: center;
                margin-bottom: 15px;
            }

            div {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                font-size: 15px;

                input {
                    padding: 8px 10px;
                    font-size: 17px;
                    border: 1px solid $primary-color;
                    margin-top: 2px;
                    border-radius: 3px;
                }

            }
        }
    }

    .form-submit {
        background-color: $primary-color;
        color: white;
        border: 2px solid transparent;
        padding: 10px 20px;
        border-radius: 3px;
        font-size: 15px;
        font-weight: 600;
        margin: 5px 0;

        &:hover {
            cursor: pointer;
        }
    }

    .contact {

        .content {
            width: 100%;
            
            form {
                font-size: 13px;
                width: 100%;

                .name_email {
                    flex-direction: column;
            
                    div {
                        width: 100%;
                    }
                }
            }
        }
    }
    

}

@media (max-height: 600px) {
    .contact {
        align-items: flex-start;

        .content {
            height: 100%;

            form {
                width: 100%;
            }
        }
    }
}
